{% load staticfiles i18n %}

<nav class="navbar-top navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-wrapper">
                    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#nav-top-b">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img src="{% static 'img/zinaBrand.png' %}" alt="Powered by ZINA Dev team">
                            </a>
                        </div>
                        <div class="navbar-collapse collapse" id="nav-top-b">
                        {% if request.user.is_authenticated %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="profile dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{ user.profile.get_prefix|default:user.username|capfirst }}
                                        <b class="caret"></b>
                                    </a>
                                    
                                        <ul class="dropdown-menu profile-menu">
                                        <li>
                                            <div class="navbar-content">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div id="img-avatar">
                                                            {% if user.profile.picture %}
                                                                <img src="{{ user.profile.picture.url }}"
                                                                     alt="{{ user.profile.get_prefix }}"
                                                                     class="img-circle img-responsive"/>
                                                            {% else %}
                                                                <img src="http://lorempixel.com/104/104/abstract/"
                                                                     alt="{{ user.profile.get_prefix }}"
                                                                     class="img-circle img-responsive"/>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span>{{ user.profile.get_prefix|default:user.username|capfirst }}</span>

                                                        <p class="text-muted small">{{ user.email }}</p>

                                                        <div class="divider"></div>
                                                            <a href=""
                                                               class="btn btn-primary btn-sm btn-block {% if CURRENT_VIEW_NAME == 'about' or CURRENT_APP_NAME == 'profile' %}active{% endif %}">
                                                                <span class="glyphicon glyphicon-user"></span>
                                                                {% trans 'My profile' %}
                                                            </a>

                                                            <div class="divider"></div>
                                                            <a href="">
                                                                <i class="fa fa-info-circle"></i>
                                                                {% trans 'About' %}
                                                            </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="navbar-footer">
                                                <div class="navbar-footer-content">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="{% url 'logout' %}"
                                                               class="btn btn-default btn-sm pull-right">
                                                                <i class="fa fa-sign-out"></i>
                                                                {% trans 'Logout' %}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>