{% load staticfiles i18n %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Second navbar for profile settings -->
            {% load staticfiles i18n %}
            <nav class="navbar navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-4">
                    <ul id="main_menu" class="nav navbar-nav">
                        <li><a href="/">{% trans 'Home' %}</a></li>
                        <li><a href="{% url 'paste:list' %}">{% trans 'List' %}</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- /.navbar -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>