{% load staticfiles i18n %}
<div class="container-fluid logo-app">
    <div class="row">
        <div class="col-lg-3">
            <a href="/"><img class="claro-delivery-logo" src="{% static 'img/logo-claro-delivery.png' %}"
                                            alt="ZINA Claro invoice delivery"></a>
        </div>
        <!--<div class="col-lg-6 search-main">
            <form action="" class="" method="get">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Select filter <span
                                class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Invoice</a></li>
                            <li><a href="#">Electronic invoice</a></li>
                            <li><a href="#">Protocol number </a></li>
                        </ul>
                    </div>
                    
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
								<span class="input-group-btn btn-search">
									<button class="btn btn-primary" type="button"><span
                                            class="glyphicon glyphicon-search"></span></button>
								</span>
                </div>
            </form>
        </div>-->
    </div>
</div>