{% load staticfiles i18n tags_html compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
            <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
            <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
            <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
            <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
            <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
            <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
            <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
            <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
            <meta name="msapplication-TileColor" content="#ffffff">
            <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
            <meta name="theme-color" content="#ffffff">
        {% endblock %}
        <title>{% block title %}{% trans 'Claro delivery' %}{% endblock %}</title>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% block css %}

            {% compress css %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
            <!-- custom styles -->
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            {% endcompress %}
        {% endblock %}
    </head>
    <body>
       {# Implement login form to this template #}
        <div id="login" class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{% trans 'Sign in to continue' %}</strong>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="{% url 'login' %}?next={{ request.GET.next }}" method="POST">
                                <fieldset>
                                    <div class="row logo">
                                        <div class="center-block text-center">
                                            <a href="/"><img src="{% static 'img/logo-claro-delivery.png' %}"
                                                alt="ZINA Claro invoice delivery"></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                            {% if form.non_field_errors %}
                                                <div id="login-alert" class="alert alert-danger">
                                                    {% for error in form.non_field_errors %}
                                                        {{ error|safe }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                    {{ form.username|addclass:'form-control'|placeholder:form.username.label }}
                                                    {% if form.username.errors %}
                                                        <span class="help-block">
                                                        <span class="glyphicon glyphicon-info-sign"></span>{{ form.username.errors }}
                                                    </span>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>
                                                    {{ form.password|addclass:'form-control'|placeholder:form.password.label}}
                                                    {% if form.password.errors %}
                                                        <span class="help-block">
                                                        <span class="glyphicon glyphicon-info-sign"></span>{{ form.password.errors }}
                                                    </span>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="form-group text-right">
                                                <button type="submit" class="btn btn-primary" value="Sign in"><i class="fa fa-key"></i> Validate user</button>
                                                <!--<button type="submit" class="btn btn-primary" value="SSO login">Login with SSO</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="panel-footer ">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        



        {% comment %}
        <div id="login">
            <div class="container">
                <div class="row">
                    <div class="login tile-box center-block">
                        <div class="col-md-12">
                            <form class="form-horizontal" action="{% url 'login' %}" method="post">
                                <fieldset>
                                    <!-- Form Name -->
                                    <legend>Login</legend>
                                    {% if form.non_field_errors %}
                                        <div id="login-alert" class="alert alert-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}
                                    {% csrf_token %}
                                <div class="hidden">
                                    <input name="next" value="{{ request.GET.next }}" />
                                </div>
                                    {% for field in form %}
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">{{ field.label }}</label>

                                            <div class="col-md-8">
                                                {{ field|addclass:"form-control input-md"|placeholder:field.label }}
                                                {% if field.errors %}
                                                    <span class="help-block">
                                                        <span class="glyphicon glyphicon-info-sign"></span>{{ field.errors }}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- Button (Double) -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="button1id"></label>

                                        <div class="col-md-8">
                                            <button id="button1id" name="button1id" class="btn btn-success">Login</button>
                                            <button id="button2id" name="button2id" class="btn btn-primary">SSO login
                                            </button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endcomment %}
        {% block js %}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            {% load compress %}
            {% compress js %}
            <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{% static 'js/bootstrap.min.js' %}"></script>

            <script src="{% static 'js/app.js' %}"></script>
            {% endcompress %}
        {% endblock %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        {% block extra_js %}{% endblock %}
        <!--    <script>
                (function (b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l;
                    b[l] || (b[l] =
                            function () {
                                (b[l].q = b[l].q || []).push(arguments)
                            });
                    b[l].l = +new Date;
                    e = o.createElement(i);
                    r = o.getElementsByTagName(i)[0];
                    e.src = '//www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-XXXXX-X');
                ga('send', 'pageview');
            </script> -->

    </body>
</html>
