.robot-steps{
	border: $light-grey solid 1px;
}

.image-captcha{
	height: auto;
	width: 100%;
	min-height: 35px;
    border-bottom: 1px solid #707070;
}

#invoices-info{

	.dataTables_paginate{
		padding-bottom: 0px;
	} 
}