#header{
	.navbar-top{
	    color: $white;
	    margin-bottom: 30px;
	    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

	    .navbar-inverse{
			background-color: rgba(0, 0, 0, 0.85);
  			border-color: rgba(0, 0, 0, 0.85);
  			min-height: 45px;
  			font-size: 13px;
	    }
	    .profile-menu{
    		span { color: $black; }
	    	.navbar-content{
				width: 490px;
				padding: 15px;
				padding-bottom: 0px;
	    	}
	    	a { font-size: 13px; }
	    	a.btn {
			    padding: 5px !important;
			    span { color: #fff; }
			}

			#img-avatar {
				margin: 20px auto;
				max-width: 160px;
				position: relative;
				overflow: hidden;
				height: 160px;
				max-height: 160px;

				img {
					bottom: -9999px;
					height: 160px;
					left: -9999px;
					right: -9999px;
					top: -9999px;
					width: auto;
					margin: auto;
					position: absolute;
					z-index: 1;
				}
			}
	    }
	}
	.navbar{
		margin-bottom:20px;
		.lang{
			a{
				color: $black;
				padding: 8px 15px;
				&:hover{
					color: $white;
				}
			}
		}
	}

	.navbar-fixed-top{
		.navbar-collapse{
			max-height: initial;
		}
	} 
	.navbar-brand{
		padding: 11px 15px;
		height: initial;
		> img {
			height: 22px;
			width: auto;
		} 
	}
	.navbar-fixed-top{
		margin-bottom:0px;
		.navbar-nav{
			a{
				padding-top: 11.5px;
				padding-bottom: 11.5px;
			}
		}
		.navbar-collapse{
			max-height: initial;
		}
		.dropdown-menu{
			a{
				font-size: 13px;
			}
		}
	} 
		

	.logo-app{
		margin-bottom: 10px;
		margin-top: 50px;
		img{
			height: auto;
			max-width: 184px;
		}
		.search-main{
			margin-top: 20px;
			.btn-default {
				color: $white;
				background-color: lighten($black, 25%);
				border-color: lighten($black, 25%);
			}	
		}
	}

	/* Special class on .container surrounding .navbar, used for positioning it into place. */
	.navbar-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;
		/* Flip around the padding for proper display in narrow viewports */
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.navbar {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.navbar-content{
		width:320px;
		padding: 15px;
		padding-bottom:0px;
		&:before, &:after{
			display: table;
			content: "";
			line-height: 0;	
		}
	}

	.navbar-nav.navbar-right { margin-right: 0px !important; }
	.navbar-footer { background-color:#DDD; }
	.navbar-footer-content { padding:15px 15px 15px 15px; }
	.dropdown-menu {
		padding: 0px;
		overflow: hidden;
	}


	/*
	Code snippet by maridlcrmn for Bootsnipp.com
	Follow me on Twitter @maridlcrmn
	*/


	// .navbar-nav .btn { position: relative; z-index: 2;  margin: 10px auto; }

	// .navbar .navbar-collapse { position: relative; }
	// // .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

	// .navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 15px; padding-left: 15px; width: 100%; }
	// .navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
	// .navbar.navbar-inverse .nav-collapse { background-color: #222; }
	// .navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
	// .nav-collapse>li { float: right; }

	// @media screen and (max-width: 767px) {
	//     .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
	    
	//     .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
	//     .navbar .nav-collapse .navbar-form { margin: 0; }
	//     .nav-collapse>li { float: none; }
	// }

	// .navbar-form{
	// 	margin-top: -3px;
	// 	margin-bottom: 0px;
	// 	.form-control{
	// 		height: 37px;
	// 	}
	// 	.btn{
	// 		padding: 7px 18px;
	// 	}
	// }
}