/***********************************
Mixins
************************************/
/*clearfix*/
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/*section configuration*/
@mixin section-config{
	background: $white;
	margin: 80px 1.5% 30px 1.5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Tiles generator*/
@mixin tile-box($padding){
	background-color: $white;
	border-radius: 2px;
	box-shadow: 0px 0px 5px 0px rgba(92,92,92,0.20);
	margin-bottom: 30px;
	margin-top: 30px;
	padding: $padding;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(92,92,92,0.20);
	-moz-box-shadow: 0px 0px 5px 0px rgba(92,92,92,0.20);
	
}

/*Border radius*/
@mixin radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}


@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

