/***********************************
Mixins
************************************/
/*clearfix*/
/*section configuration*/
/*Tiles generator*/
/*Border radius*/
/***********************************
common settings
************************************/
/***********************************
Font-face config
************************************/
@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url("../fonts/NokiaPureTWeb_Lt.eot");
  src: url("../fonts/NokiaPureTWeb_Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Lt.woff") format("woff"), url("../fonts/NokiaPureTWeb_Lt.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url("../fonts/NokiaPureTWeb_Rg.eot");
  src: url("../fonts/NokiaPureTWeb_Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Rg.woff") format("woff"), url("../fonts/NokiaPureTWeb_Rg.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url("../fonts/NokiaPureTWeb_Bd.eot");
  src: url("../fonts/NokiaPureTWeb_Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/NokiaPureTWeb_Bd.woff") format("woff"), url("../fonts/NokiaPureTWeb_Bd.ttf") format("truetype"), url("../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/***********************************
margins
************************************/
.blank-top {
  padding-top: 90px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-30 {
  margin-top: 30px;
}

/***********************************
Borders
************************************/
.border-right {
  border-right: #d8d8d8 solid 1px;
}

/***********************************
Tile box declaration
************************************/
.tile-box {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(92, 92, 92, 0.2);
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(92, 92, 92, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(92, 92, 92, 0.2);
}

/***********************************
HTML config
************************************/
* {
  outline: none !important;
}

body {
  background-color: #e0e0e0;
  color: #444;
  font-family: "NokiaPureTWebRegular";
  font-size: 15px;
}

h1, h3, h4 {
  margin-top: 0;
  font-family: "NokiaPureTWebRegular";
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

strong {
  font-family: "NokiaPureTWebBold";
}

label {
  font-weight: 700;
  font-family: "NokiaPureTWebBold";
}

/***********************************
status
************************************/
.status-icon {
  font-size: 20px;
}

.pending, .waiting {
  color: #68717A;
}

.ok {
  color: #52A746;
}

.delay {
  color: #D99032;
}

.rejected {
  color: #d9534f;
}

.info {
  color: #0c84e4;
}

/***********************************
Bootstrap modifications
************************************/
.navbar-inverse {
  background-color: #074E8F;
  border-color: #074E8F;
}

.btn-default {
  background-color: #393e43;
  border-color: #393e43;
}
.btn-default:hover {
  background-color: #222527;
  border-color: #222527;
}

.table th {
  background: #0c84e4;
  color: #fff;
  font-family: "NokiaPureTWebBold";
  text-transform: uppercase;
}

.two-cols tr td:first-child {
  font-family: "NokiaPureTWebBold";
  width: 25%;
}

.small-actions th:last-child {
  min-width: 80px;
}

.two-action-col th:last-child {
  width: 230px;
}

.pager li > a {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.alert-info {
  background-color: #0c84e4;
  border-color: #0c84e4;
}

.alert a {
  color: #fff;
  text-decoration: underline;
}

.bg-warning {
  background-color: #f0ad4e !important;
  color: #fff !important;
}

.bg-success {
  background-color: #6EBE53 !important;
  color: #fff !important;
}

.bg-danger {
  background-color: #d9534f !important;
  color: #fff !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #0c84e4;
}

.progress {
  height: 15px;
}
.progress .progress-bar {
  font-size: 15px;
  line-height: 15px;
}

.nav-tabs .active a {
  font-family: "NokiaPureTWebBold";
}

.tab-content {
  border: 1px solid #dddddd;
  border-top: none;
  padding: 20px 10px;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}

.panel .tab-content {
  border: none;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #555;
}

.list-items {
  list-style: none;
  padding-left: 20px;
}
.list-items li {
  list-style: none;
  margin-bottom: 10px;
}
.list-items li:before {
  content: "\f105";
  font-family: FontAwesome;
  display: inline-block;
  width: 1.2em;
  /* same as padding-left set on li */
  margin-left: -1.2em;
  /* same as padding-left set on li */
}

/***********************************
Plugins modifications
************************************/
.file-preview {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.file-preview-frame:hover {
  box-shadow: 1px 1px 3px 0 #CBCBCB;
}

/**********************************
Datatable
**********************************/
.dataTables_wrapper {
  overflow-x: hidden;
}
.dataTables_wrapper .dataTables_paginate {
  padding-bottom: 60px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: none;
  background: none;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #dddddd;
}

.errorlist {
  list-style: none;
  text-align: left;
  padding: 0;
}
.errorlist li {
  color: #d9534f;
}

body, html {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#wrapper {
  position: relative;
  min-height: 100%;
  margin-bottom: -40px;
}

/***********************************
page error 404 
************************************/
.bg-404 {
  background: url(../img/errors-404-500/404-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "NokiaPureTWebRegular";
}
.bg-404 .logo-white {
  padding: 60px 0;
}
.bg-404 .error-404 {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* Netscape */
  -moz-opacity: 0.6;
  /* Safari 1.x */
  -khtml-opacity: 0.6;
  /* Good browsers */
  opacity: 0.6;
  color: #fff;
  font-size: 40px;
}
.bg-404 .error-404 span {
  display: block;
  color: #fff;
  font-size: 160px;
  line-height: 0.8;
  font-family: "NokiaPureTWebBold";
}
.bg-404 .legend {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
}
.bg-404 .legend-dark {
  color: #fff;
  font-size: 16px;
  padding: 20px;
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.bg-404 .menu-nav {
  text-align: center;
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 5px 0;
  max-width: 500px;
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.bg-404 .menu-nav li {
  display: inline-block;
  padding: 5px 10px;
}
.bg-404 .menu-nav li a {
  color: #fff;
}
.bg-404 .menu-nav li a:hover {
  color: gray;
  text-decoration: none;
}

#header {
  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  /*
  Code snippet by maridlcrmn for Bootsnipp.com
  Follow me on Twitter @maridlcrmn
  */
}
#header .navbar-top {
  color: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#header .navbar-top .navbar-inverse {
  background-color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.85);
  min-height: 45px;
  font-size: 13px;
}
#header .navbar-top .profile-menu span {
  color: #444;
}
#header .navbar-top .profile-menu .navbar-content {
  width: 490px;
  padding: 15px;
  padding-bottom: 0px;
}
#header .navbar-top .profile-menu a {
  font-size: 13px;
}
#header .navbar-top .profile-menu a.btn {
  padding: 5px !important;
}
#header .navbar-top .profile-menu a.btn span {
  color: #fff;
}
#header .navbar-top .profile-menu #img-avatar {
  margin: 20px auto;
  max-width: 160px;
  position: relative;
  overflow: hidden;
  height: 160px;
  max-height: 160px;
}
#header .navbar-top .profile-menu #img-avatar img {
  bottom: -9999px;
  height: 160px;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  width: auto;
  margin: auto;
  position: absolute;
  z-index: 1;
}
#header .navbar {
  margin-bottom: 20px;
}
#header .navbar .lang a {
  color: #444;
  padding: 8px 15px;
}
#header .navbar .lang a:hover {
  color: #fff;
}
#header .navbar-fixed-top .navbar-collapse {
  max-height: initial;
}
#header .navbar-brand {
  padding: 11px 15px;
  height: initial;
}
#header .navbar-brand > img {
  height: 22px;
  width: auto;
}
#header .navbar-fixed-top {
  margin-bottom: 0px;
}
#header .navbar-fixed-top .navbar-nav a {
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}
#header .navbar-fixed-top .navbar-collapse {
  max-height: initial;
}
#header .navbar-fixed-top .dropdown-menu a {
  font-size: 13px;
}
#header .logo-app {
  margin-bottom: 10px;
  margin-top: 50px;
}
#header .logo-app img {
  height: auto;
  max-width: 184px;
}
#header .logo-app .search-main {
  margin-top: 20px;
}
#header .logo-app .search-main .btn-default {
  color: #fff;
  background-color: #848484;
  border-color: #848484;
}
#header .navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  /* Flip around the padding for proper display in narrow viewports */
}
#header .navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
#header .navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}
#header .navbar-content {
  width: 320px;
  padding: 15px;
  padding-bottom: 0px;
}
#header .navbar-content:before, #header .navbar-content:after {
  display: table;
  content: "";
  line-height: 0;
}
#header .navbar-nav.navbar-right {
  margin-right: 0px !important;
}
#header .navbar-footer {
  background-color: #DDD;
}
#header .navbar-footer-content {
  padding: 15px 15px 15px 15px;
}
#header .dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

#login {
  margin-top: 100px;
}
#login .logo img {
  height: auto;
  width: 80%;
  margin-bottom: 10px;
}

.robot-steps {
  border: #F2F2F2 solid 1px;
}

.image-captcha {
  height: auto;
  width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #707070;
}

#invoices-info .dataTables_paginate {
  padding-bottom: 0px;
}

#monitor .monitor .routine {
  width: 20%;
}
#monitor .monitor .status {
  width: 10%;
}
#monitor .monitor .date {
  width: 20%;
}
#monitor .monitor .runs {
  width: 8%;
}
#monitor .monitor .fails {
  width: 8%;
}
#monitor .monitor .stat {
  width: 25%;
}
#monitor .monitor td {
  padding: 10px 8px;
  vertical-align: middle;
}
#monitor .monitor td .progress {
  margin-bottom: 0;
}
#monitor .modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

footer {
  background-color: #074E8F;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer span {
  display: block;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}
footer .logoFooter img {
  max-width: 100px;
  height: auto;
}

#profile .avatar {
  margin: 20px auto;
  max-width: 160px;
  position: relative;
  overflow: hidden;
  height: 160px;
  max-height: 160px;
}
#profile .avatar img {
  bottom: -9999px;
  height: 160px;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  width: auto;
  margin: auto;
  z-index: 1;
}
#profile .avatar .click_here {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
#profile .avatar .click_here:before {
  color: #fff;
  content: "Click here to upload new image";
  text-align: center;
  width: 100%;
  position: absolute;
  top: 40%;
}
#profile .help-text {
  clear: both;
  display: block;
  font-size: 13px;
  font-style: italic;
  padding-left: 20px;
}
#profile .custom-weekly {
  display: none;
}
#profile .checkbox label {
  font-family: "NokiaPureTWebRegular";
}
#profile .select-follow {
  font-size: 13px;
  margin-bottom: 5px;
}
#profile .select-follow a {
  color: #68717A;
  text-decoration: none;
}
#profile .select-follow a:hover {
  color: #074E8F;
}

#about .dev-wrapper {
  border-bottom: #dddddd solid 1px;
  overflow: hidden;
  padding: 5px 5px 20px 5px;
  margin: 10px 0 20px 0;
}
#about .dev-wrapper:hover {
  background-color: #eaeaea;
}
#about .dev-wrapper .dev-img {
  float: left;
  max-width: 120px;
  margin-right: 10px;
  width: 30%;
  position: relative;
}
#about .dev-wrapper .dev-img img {
  height: auto;
  width: 100%;
}
#about .dev-wrapper .dev-content {
  float: left;
  width: 65%;
}
#about .dev-wrapper .dev-name {
  font-family: "NokiaPureTWebBold";
  font-size: 18px;
  line-height: 0.8;
  margin-bottom: 3px;
}
#about .dev-wrapper .dev-title {
  font-family: "NokiaPureTWebLight";
  font-size: 14px;
  font-style: italic;
}
#about .dev-wrapper .dev-social {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  width: 65%;
}

/*# sourceMappingURL=styles.css.map */
