{% extends 'base.html' %}
{% load i18n static tags_html %}
{% block title %}Go@l - Profile{% endblock %}
{% block main_section %}
    <div class="container">
        <div class='row'>
            <div class='col-sm-4 col-md-offset-4'>
                <form accept-charset="UTF-8" action="." class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post">
                    {% if form.non_field_errors %}
                        <div style="margin:0;padding:0;display:inline">
                            <div id="login-alert" class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error|safe }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class='form-row'>
                            <div class='col-xs-12 form-group required'>
                                <label for="{{ field.id_for_label }}" class='control-label'>{{ field.label }}</label>
                                {{ field|addclass:'form-control' }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span class="text-warning glyphicon glyphicon-info-sign"></span><span>{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class='form-row'>
                        <div class='col-md-12 form-group'>
                            <button class='form-control btn btn-primary submit-button' type='submit'>Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-danger"></div>
{% endblock %}