{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Go@l - Profile{% endblock %}
{% block main_section %}
	<div id="profile">
		<div class="row">
			<div class="col-md-12">
				<div class="title-wrapper">
					<h1>{% trans 'User profile' %}</h1>
				</div>
			</div>
		</div>


		<div class="panel with-nav-tabs panel-default">
			<div class="panel-heading">
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="#basic" data-toggle="tab">{% trans 'Basic information' %}</a></li>
					<li><a href="#notifications" data-toggle="tab">{% trans 'Notification preferences' %}</a></li>
					{# <li><a href="#activity" data-toggle="tab">{% trans 'Last activities' %}</a></li> #}
				</ul>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<div class="tab-pane fade in active" id="basic">
						<div class="row">
							<div class="col-md-9 col-md-offset-1">
								<h4>{% blocktrans %}Your account information{% endblocktrans %}</h4>

								<form action="{% url 'profile:update' %}" method="POST" role="form"
								      enctype="multipart/form-data" id="user_form">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<div id="user_form_errors"></div>
										</div>
										<div class="col-md-3">
											<div class="avatar img-circle" id="avatar">
												{% if user.profile.picture %}
													<img src="{{ user.profile.picture.url }}"
													     alt="{{ user.get_full_name }}"
													     class="margin-bottom-5"/>
												{% else %}
													<img src="http://lorempixel.com/160/160/abstract/"
													     alt="{{ user.get_full_name }}"
													     class="margin-bottom-5"/>
												{% endif %}
											</div>
											<div class="resume-activity text-center">
												<em>{% trans 'Last login' %}: {{ user.last_login }}</em>
											</div>
										</div>
										<div class="col-md-9">
											<div class="row">
												<div class="col-md-2">
													<div class="form-group">
														<label for="">{% trans 'Prefix' %}</label>
														{{ user_form.prefix }}
													</div>
												</div>
												<div class="col-md-5">
													<div class="form-group">
														<label for="">{% trans 'First name' %}</label>
														{{ user_form.first_name }}
													</div>
												</div>
												<div class="col-md-5">
													<div class="form-group">
														<label for="">{% trans 'Last name' %}</label>
														{{ user_form.last_name }}
													</div>
												</div>
												<div class="col-md-5">
													<div class="form-group">
														<label for="">{% trans 'Language' %}</label>
														{{ user_form.language }}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="">{% trans 'Email address' %}</label>
														{{ user_form.email }}
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12 text-right">
													<div class="form-group">
														<button id="active-edit-profile" type="button"
														        class="btn btn-primary"><span
																class="glyphicon glyphicon-pencil"></span> {% trans 'Edit profile' %}
														</button>
														<button id="cancel-edit-profile" type="button"
														        class="btn btn-danger hidden"><span
																class="glyphicon glyphicon-remove"></span> {% trans 'Cancel' %}
														</button>
														<button id="save-edit-profile" type="submit"
														        class="btn btn-success hidden"><span
																class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Save changes' %}
														</button>
														{{ user_form.picture }}
													</div>

												</div>
											</div>

										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
					<div class="tab-pane fade" id="notifications">
						<div class="col-md-10 col-md-offset-1">
							<h4>{% trans 'Contact email' %}</h4>

							<p><strong>Claro invoice delivery</strong> will send your email notifications to
								<strong>{{ user.email }}</strong></p>
							<hr>
							<form action="{% url 'profile:notification_update' %}" method="POST" role="form" id="profile_form">{% csrf_token %}
								<h4>{% trans 'Email frequency' %}</h4>

								<p>{% trans 'When people from your customer team create or make changes on the slot, meetings or tasks, you will receive an alert via email.' %}</p>

								<p>{% trans 'To help you stay up-to-date with the work process, Go@l notifies you via email about the changes made on the system.' %}</p>

								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<div class="radio">
												<label>
													<input type="radio" name="notification" id="optionsRadios2"
													       value="never" {% if user.profile.notification == 'never' %}checked{% endif %}> {% trans 'Do not disturb me!' %}
												</label>
												<span class="help-text">({% trans 'You will not receive any mails' %})</span>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="notification" id="optionsRadios1"
													       value="online" {% if user.profile.notification == 'online' %}checked{% endif %}>
													{% trans 'Email me about each item right away (On demand).' %}
												</label>
												<span class="help-text">({% trans 'If there are 10 new activities, you’ll get 10 separate emails when each change.' %})</span>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="notification" id="optionsRadios2"
													       value="daily"
													       {% if user.profile.notification == 'daily' %}checked{% endif %}> {% trans 'Email me a summary daily.' %}
												</label>
												<span class="help-text">({% trans 'You will receive a summary with all the activities in one single email every day' %})</span>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="notification" id="optionsRadios2"
													       value="weekly" {% if user.profile.notification == 'weekly' %}checked{% endif %}>
													{% trans 'Email me a summary weekly.' %}
												</label>
												<span class="help-text">({% trans 'You will receive a summary with all the activities in one single email every week' %})</span>
											</div>
											<div class="radio disabled">
												<label>
													<input type="radio" name="notification" id="optionsRadios2"
													       value="monthly" {% if user.profile.notification == 'monthly' %}checked{% endif %}
													       disabled> {% trans 'Email me a summary monthly.' %}
												</label>
												<span class="help-text">({% trans 'You will receive a summary with all the activities in one single email every month' %})</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row {% if user.profile.notification != 'weekly' and user.profile.notification != 'daily' %}hidden{% endif %}" id="custom-selector">
												<div class="col-md-12">
													<div class="well">
														<p>{% trans 'Select time of the day you want to receive the summary' %}</p>

														<div class="row">
															<div class="{% if user.profile.notification == 'daily' %}hidden{% else %}col-md-5{% endif %}" id="custom-select-day">
																<div class="form-group">
																	<label for="custom-weel-time">{% trans 'Select day:' %} </label>
																	{{ profile_form.notification_day }}
																</div>
															</div>
															<div class="{% if user.profile.notification == 'weekly' %}col-md-5{% else %}col-md-12{% endif %}" id="custom-select-hour">
																<div class="form-group">
																	<label for="custom-weel-time">{% trans 'Choose time:' %} </label>
																	{{ profile_form.notification_hour }}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<hr>
								<div class="form-group">
									<h4>Follow up</h4>

									<p>Choose what to follow via email</p>

									<div class="text-right select-follow">
										<a href="#" class="select-all"><i class="fa fa-check-square-o"></i> Select
											all</a> | <a href="#" class="deselect-all"><i class="fa fa-square-o"></i>
										Select none</a>
									</div>
									<div class="well follow-up">
										<div class="row">
											<div class="col-md-4">
												{% for value,choice in follow_up.items %}
													{% if forloop.counter|divisibleby:5 %} {% comment %} each 4 close the div{% endcomment %}
														</div>
														<div class="col-md-4">
													{% endif %}
													<div class="checkbox">
														<label>
															<input type="checkbox"
															       name='follow_up' value="{{ value }}"
																	{% if value in user.profile.follow_up %}
                                                                   checked="checked"
																	{% endif %}>
															{{ choice }}
														</label>
													</div>

												{% endfor %}
												</div>
										</div>
									</div>
								</div>

								<div class="form-group text-right">

									<button type="submit" id="save_notifications" class="btn btn-success">
										<span class="glyphicon glyphicon-floppy-disk"></span> Save changes
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane fade" id="activity">
						<h4>Activities history</h4>

						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th>Date</th>
									<th>Section name</th>
									<th class="text-center">{% trans 'Activity' %}</th>
									<th class="text-center">{% trans 'Visited URL' %}</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>2015/09/25</td>
									<td>New C level slot reservation</td>
									<td class="text-center">Create</td>
									<td class="text-center"><a href="#" class="btn btn-default btn-xs"><i
											class="fa fa-arrow-circle-right"></i> Go to link</a></td>
								</tr>
								<tr>
									<td>2015/09/25</td>
									<td>View slot reservation</td>
									<td class="text-center">visit</td>
									<td class="text-center"><a href="#" class="btn btn-default btn-xs"><i
											class="fa fa-arrow-circle-right"></i> Go to link</a></td>
								</tr>
								<tr>
									<td>2015/09/25</td>
									<td>Edit C level slot reservation</td>
									<td class="text-center">Edit</td>
									<td class="text-center"><a href="#" class="btn btn-default btn-xs"><i
											class="fa fa-arrow-circle-right"></i> Go to link</a></td>
								</tr>
								<tr>
									<td>2015/09/25</td>
									<td>New C level slot reservation</td>
									<td class="text-center">Create</td>
									<td class="text-center"><a href="#" class="btn btn-default btn-xs"><i
											class="fa fa-arrow-circle-right"></i> Go to link</a></td>
								</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

{% block extra_js %}
	<script>
		$(function () {
			var edition = false;
			$("#active-edit-profile").click(function () {
				$(".edit-form").removeAttr("disabled");
				$("#cancel-edit-profile, #save-edit-profile").removeClass("hidden");
				$("#active-edit-profile").addClass("hidden");
				$('#avatar').append('<div class="click_here"></div>');
				$("#id_first_name").focus();
				edition = true;
			});

			$("#cancel-edit-profile").click(function () {
				$(".edit-form").attr("disabled", "disabled");
				$("#cancel-edit-profile, #save-edit-profile").addClass("hidden");
				$("#active-edit-profile").removeClass("hidden");
				$('#avatar').children('.click_here').remove();
				edition = false;
			});

			// Notification tab
			$(function () {
				$('.custom-time').datetimepicker({
					format: 'HH:mm'
				});
			});

			// Show/hide custom time well where user change notification option
			$('input[type="radio"]').click(function () {
				if ($(this).attr("value").toLowerCase() == "weekly" || $(this).attr("value").toLowerCase() == "daily") {
					$("#custom-selector").removeClass('hidden');
					if ($(this).attr("value").toLowerCase() == "weekly") {
						$('#custom-select-day').attr('class', '').addClass('col-md-5'); // delete all classes and set the grid
						$('#custom-select-hour').attr('class', '').addClass('col-md-7'); // delete all classes and set smaller the grid
					} else {
						$('#custom-select-day').attr('class', '').addClass('hidden'); // delete all classes and set as hidden
						$('#custom-select-hour').attr('class', '').addClass('col-md-12'); // delete all classes and set bigger the grid
					}
				} else {
					$("#custom-selector").addClass('hidden');
				}
			});

			// Select/deselect all checkbox on follow up

			// find the "Select All"
			$('.select-all').click(function (event) {
				event.preventDefault();
				// find all the checkboxes and select them
				$('.follow-up').find('[type="checkbox"]').prop('checked', true);
			});

			// find the "Deselect All"
			$('.deselect-all').click(function (event) {
				event.preventDefault();
				// find all the checkboxes and deselect them
				$('.follow-up').find('[type="checkbox"]').prop('checked', false);
			});

			$('#avatar').click(function (evt) {
				if (edition) {
					$('#id_picture').click();
				}
			});

			$('#id_picture').change(function (evt) {
				var re = /([^\s]+(\.(jpg|JPG|png|gif|bmp))$)/g;
				if (re.test(this.files[0].name)) {
					readURL(this);
				} else {
					swal({
						title: "{% blocktrans %}oops... file type not supported{% endblocktrans %}",
						text: "{% blocktrans %}Please use images format file only.{% endblocktrans %}",
						type: "error",
						confirmButtonClass: "btn-primary",
						confirmButtonText: "Ok",
						closeOnConfirm: false
					});
					$(this).val('');
				}

			});

			function readURL(input) {

				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#avatar > img').attr('src', e.target.result);
					};

					reader.readAsDataURL(input.files[0]);
				}
			}

			$('#user_form').on('submit', function (evt) {
				evt.preventDefault();

				form = new FormData($(this)[0]);

				$.ajax({
					url: $(this).attr('action'),
					data: form,
					processData: false,
					contentType: false,
					type: 'POST',
					success: function (data) {
						if (data.done) {
							location.href = data.redirect;
						} else {
							report_django_error_input(data.errors, '#user_form_errors');
						}
					}
				});

			});

			$('#profile_form').on('submit', function (evt) {
				evt.preventDefault();

				form = new FormData($(this)[0]);

				$.ajax({
					url: $(this).attr('action'),
					data: form,
					processData: false,
					contentType: false,
					type: 'POST',
					success: function (data) {
						if (data.done) {
							location.href = data.redirect;
						} else {
							report_django_error_input(data.errors, '#user_form_errors');
						}
					}
				});
			})

		})

	</script>
{% endblock %}