{% extends "base.html" %}
{% load i18n static %}
{% block extracss %}
    <link rel="stylesheet" id="theme" href="{% static 'css/prism.css' %}">
    <link rel="stylesheet" id="theme" href="{% static 'css/prism-line-numbers.css' %}">
{% endblock %}
{% block main_section %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
            <h4>[{{ pastecode.language }}] [{{ pastecode.created }}]{% if pastecode.comment %} [{{ pastecode.comment }}]{% endif %}</h4>
                <div class="form-inline pull-right">
                    <div>
                        <button class="btn" data-clipboard-text="{{ pastecode.code }}">
                            <i class="glyphicon glyphicon-copy"></i> {% trans 'Copy to clipboard' %}
                        </button>
                        <a class="btn btn-primary" href="{% url 'edit' pastecode.id %}">
                            <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit' %}
                        </a>
                        <label for="themes">{% trans 'Themes' %}: </label>
                        <select class="form-control" name="theme" id="themes">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <pre class="line-numbers language-{{ pastecode.language.language_slug }}" data-src="{% url 'paste:detail__code'  pastecode.id %}">
                    <code class="language-{{ pastecode.language.language_slug }}"></code>
                </pre>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/clipboard.min.js' %}" data-manual></script>
    <script src="{% static 'js/prism.js' %}" data-manual></script>
    <script src="{% static 'js/prism-line-numbers.js' %}" data-manual></script>
    <script>
        $(function () {
            var clipboard = new Clipboard('.btn');
            var default_theme = "{% static 'css/prism-okaidia.css' %}";
            var themes = [
                ['{% static 'css/prism-okaidia.css' %}', 'Okaidia'],
                ['{% static 'css/prism.css' %}', 'Default'],
                ['{% static 'css/prism-coy.css' %}', 'Coy'],
                ['{% static 'css/prism-dark.css' %}', 'Dark'],
                ['{% static 'css/prism-funky.css' %}', 'Funky'],
                ['{% static 'css/prism-twilight.css' %}', 'Twilight'],
                ['{% static 'css/prism-solarizedlight.css' %}', 'Solarized light'],
            ];
            themes.forEach(function (value) {
                var $option = $('<option value="' + value[0] + '">' + value[1] + '</option>')
                $('#themes').append($option);
            });
            $('#theme').attr('href', default_theme);
            $('#themes').on('change', function (evt) {
                $('#theme').attr('href', $(this).val());
            });
        })
    </script>
{% endblock %}