{% extends 'base.html' %}
{% load static i18n tags_html %}
{% block main_section %}
    <div class="row">
        <form action="" method="post">
            {% if form.non_field_errors %}
                <div id="login-alert" class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error|safe }}
                    {% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="form-group col-md-3">
                {{ form.language.label }}
                {{ form.language|addclass:'form-control' }}
                {% for error in form.language.errors %}
                    <span class="glyphicon glyphicon-info-sign text-danger"></span>{{ error }}
                {% endfor %}
            </div>
            <div class="form-group col-md-9">
                {{ form.comment.label }}
                {{ form.comment|addclass:'form-control' }}
                {% for error in  form.comment.errors %}
                    <span class="glyphicon glyphicon-info-sign text-danger"></span>{{ error }}
                {% endfor %}
            </div>
            <div class="form-group col-md-12">
                {{ form.code.label }}
                {{ form.code|addclass:'form-control'|set_rows:'20' }}
                {% for error in  form.code.errors %}
                    <span class="glyphicon glyphicon-info-sign text-danger"></span>{{ error }}
                {% endfor %}
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary pull-right">{% trans 'Save' %}</button>
            </div>
        </form>
    </div>
{% endblock %}



