{% extends "base.html" %}
{% load staticfiles i18n   static %}
{% block main_section %}
    <div class="row">
        <div class="col-md-10">
            <div class="title-wrapper">
                <h1>{% trans 'Paste code list' %}</h1>
            </div>
        </div>
        {% if is_search %}
            <div class="col-md-2 text-right">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#displayFilter1"
                        aria-expanded="false" aria-controls="displayFilter1">
                    <span class="glyphicon glyphicon-filter"></span> {% trans 'Display filters' %}
                </button>
            </div>
        {% endif %}
    </div>
    {% if search_form %}
        <div class="row">
            <div class="col-md-12 collapse" id="displayFilter1">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">{% trans 'Filter' %}</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1default">
                                {% if is_search %}
                                    {% include 'forms/search_form.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">

        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-datatable" id="table_nf_list_importers">
                    <thead>
                    <tr>
                        <th class="text-center">{% trans 'ID' %}</th>
                        <th class="text-center">{% trans 'USER' %}</th>
                        <th class="text-center">{% trans 'LANGUAGE' %}</th>
                        <th class="text-center">{% trans 'CREATED' %}</th>
                        <th class="text-center">{% trans 'COMMENT' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pastecode in pastecode_list %}
                        <tr class="text-center">
                            <td>
                                <a href="{% url 'paste:detail' pastecode.id %}">{{ pastecode.id }}</a>
                            </td>
                            <td>{{ pastecode.user }}</td>
                            <td>{{ pastecode.language }}</td>
                            <td>{{ pastecode.created }}</td>
                            <td>{{ pastecode.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}