{% load i18n  static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page not found</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        {% load compress %}
        {% compress css %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% endcompress %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<!--	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> -->
		<!--	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
		<!-- <![endif]-->
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body class="bg-404">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="logo-white">
        				<img src="{% static 'img/errors-404-500/logo-claro-delivery-white.png' %}" alt="">
        			</div>
        		</div>
        		<div class="col-md-12 text-center">
        			<div class="error-404">
        				<span>404</span>
        				Page not found	
        			</div>
        		</div>
        		<div class="col-md-8 col-md-offset-2">
        			<div class="legend">
    					The page your are trying to access can not be located. Check the URL and try again. Perhaps you have tried to visit a link which was once here but isn't anymore.
    				</div>
        		</div>
        		<div class="col-md-12">
        			<ul class="menu-nav">
        				<li><a href="#" onClick="history.go(-1); return false;"><i class="fa fa-reply"></i> Go back</a></li>
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Go home page</a></li>
        				<li><a href="#" data-toggle="modal" data-target="#email-form"><span class="glyphicon glyphicon-send"></span> Send us an email</a></li>
        			</ul>
        		</div>	
                
        		<!-- Modal -->
				<div class="modal fade" id="email-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Send us an email</h4>
							</div>
							<form action="">
								<div class="modal-body">
									<div class="form-group">
									    <label for="user">Your name</label><span class="mandatory"> *</span>
										<input type="text" class="form-control" id="user" placeholder="Your name">
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label><span class="mandatory"> *</span>
										<input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
									</div>
									<div class="form-group">
										<label for="text">Message</label><span class="mandatory"> *</span>
										<textarea class="form-control" rows="8" id="InputMessage"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
									<button type="button" class="btn btn-primary" id="send"><span class="glyphicon glyphicon-send"></span> Send email</button>
								</div>
							</form>
						</div>
					</div>
				</div>

                <div class="modal fade" id="modal-validation">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="title_error"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <span id="message_error" ></span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Close</button>
                            </div>
                        </div>
                    </div>
                </div>

        	</div>
        </div>

        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

        <script>

            $(document).ready(function () {
                $("#send").click(function() {
                    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if(($("#user").val() == "")||($("#InputEmail").val() == "" )||($("#InputMessage").val() == "")){
                        $("#title_error").text("Fields Incompleted")
                        $("#message_error").text("Some fields the form is incompleted.")
                        $('#modal-validation').modal('show')

                    }else{
                        if(!(regex.test($("#InputEmail").val()))){
                            $("#title_error").text("Email Invalid")
                            $("#message_error").text("The email not is valid.")
                            $('#modal-validation').modal('show')
                        }else{
                            var user = $("#user").val()
                            var email = $("#InputEmail").val()
                            var message = $("#InputMessage").val()
                            send(user,email,message)
                        }
                    }

                });

                function send(user,email,message){
                    $.ajax({
                        url : "/send_email_404/",
                        data : { user : user, email : email, message : message}, // data sent with the post request
                        success : function(data) {
                            $('#email-form').modal('hide')
                            if (data.status == "ok"){
                                 $("#title_error").text("Email Send")
                                 $("#message_error").text("The email was send correctly")
                                 $('#modal-validation').modal('show')
                            }
                        }

                    });
                }
                function validation_key(){
                    $("#user").keypress(function(key) {
                        if((key.charCode > 00 && key.charCode < 31)||(key.charCode > 33 && key.charCode < 64))
                            return false;
                    });
                }

                validation_key()


            });
        </script>
    </body>
</html>