{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'CID - About ZINA' %}{% endblock %}
{% block main_section %}
    <div id="about">
        <div class="row">
           <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="title-wrapper">
                        <h1>About</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">About Claro invoice delivery</a>
                        <a href="#" class="list-group-item">About ZINA project</a>
                        <a href="#team" class="list-group-item">Meet the team</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>About Claro invoice delivery</h3>
                            <p><strong>Claro invoice delivery</strong> is a system developed to automate the “invoices protocols” that must be delivered physically to customer. Besides that, it works like an integration tool by collecting data from City Hall websites, SAP and Customer web portal. Lastly, it also supports the upload of SW/SVS Invoices in customer web site automatically.</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>About ZINA project</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem illo dignissimos quasi voluptatum nobis architecto ab at accusantium id ducimus vitae, harum nam aliquam quibusdam perferendis hic voluptates sapiente inventore. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores doloribus, nulla consequatur dolor eligendi hic quis voluptatum ex accusantium eius nemo temporibus id dolore, vero excepturi odit ut repudiandae, perspiciatis!</p>
                            <a name="team"></a>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 margin-bottom-20">
                            <a name="team"></a>
                            <h3>Meet the team</h3>
                            <p>
                                Developed by <a href="https://inside.nokiasiemensnetworks.com/global/Company/Organization/CO/COBQE/Pages/Default.aspx">Business Operations LAT</a>. If you need any additional information about <strong>ZINA</strong> or this project, please contact:    
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/ericksonLima_about.png' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Erickson Lima</div>
                                    <div class="dev-title">SBO E2E – Local Solutions Project Manager</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            {# <li><img src="{% static 'img/about/brazil_flat.png' %}" alt=""></li> #}
                                            <li><a href="mailto:erickson.lima@nokia.com"><i class="fa fa-envelope"></i> </a></li>
                                            <li>
                                                <a href="skype:erickson2006?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/luisSposito.png' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Luis Sposito de Souza</div>
                                    <div class="dev-title">SBO – E2E Local Solutions Project Manager</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            {# <li><img src="{% static 'img/about/brazil_flat.png' %}" alt=""></li> #}
                                            <li>
                                                <a href="mailto:luis.f.souza@nokia.com"><i class="fa fa-envelope"></i> </a></li>
                                            <li>
                                                <a href="skype:luis_sposito?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/eduardoPerez.jpg' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Eduardo Perez Fortich</div>
                                    <div class="dev-title">UX/UI leader</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            {# <img src="{% static 'img/about/colombia_flat.png' %}" alt=""> #}
                                            <li>
                                                <a href="mailto:eduardo.1.perez.ext@nokia.com"><i class="fa fa-envelope"></i></a></li>
                                            <li>
                                                <a href="skype:byteheadx?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/valdergallo.jpg' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Valder Gallo</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="mailto:valder.gallo.ext@nokia.com"><i class="fa fa-envelope"></i></a>
                                            </li>
                                            <li class="icons">
                                                <a href="skype:valdergallo?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/diegoReyes.jpg' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Diego Reyes</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li><a href="mailto:diego.reyes.ext@nokia.com"><i class="fa fa-envelope"></i></a></li>
                                        <li class="icons">
                                            <a href="skype:direyes71?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/luisMoncaris.png' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Luiz Moncaris</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li><a href="mailto:luis.moncaris.ext@nokia.com"><i class="fa fa-envelope"></i></a></li>
                                        <li class="icons">
                                            <a href="skype:lmoncarisg?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/javierCastillo.png' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Javier Castillo</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="mailto:javier.castillho.ext@nokia.com"><i class="fa fa-envelope"></i></a>
                                            </li>
                                            <li>
                                                <a href="skype:valdergallo?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/rafaelOrtiz.jpg' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Rafael Ortiz</div>
                                    <div class="dev-title">Sysadmin</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li><a href="mailto:diego.reyes.ext@nokia.com"><i class="fa fa-envelope"></i></a></li>
                                        <li class="icons">
                                            <a href="skype:direyes71?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/leonardoOrtega.jpg' %}" alt="Leonado Ortega">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Leonardo Ortega</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li><a href="mailto:leonardo.ortega.ext@nokia.com"><i class="fa fa-envelope"></i></a></li>
                                        <li class="icons">
                                            <a href="skype:loco0321?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/luizVelez.jpg' %}" alt="Luis Velez">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Luis Velez</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li><a href="mailto:luis.velez.ext@nokia.com"><i class="fa fa-envelope"></i></a></li>
                                        <li class="icons">
                                            <a href="skype:lvelezsantos?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/ArierCalzada.jpg' %}" alt="Ariel Calsada">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Ariel Calzada</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li><a href="mailto:ArierCalsada.jpg"><i class="fa fa-envelope"></i></a></li>
                                        <li class="icons">
                                            <a href="skype:ariel_calzada?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/deinerRestrepo.jpg' %}" alt="Deiner Restrepo">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Deiner Restrepo</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                          
                                        <li class="icons">
                                            <a href="skype:deiner.restrepo?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/kevinRosales.jpg' %}" alt="Kevin Rosales">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Kevin Rosales</div>
                                    <div class="dev-title">Developer</div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
            
                                        <li class="icons">
                                            <a href="skype:kevin.andrey.rosales.ferreira?chat" onclick="Skype.ryAnalyzeSkypeUri('chat', '0');"><i class="fa fa-skype"></i></a>
                                        </li>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-4">
                            <div class="dev-wrapper">
                                <div class="dev-img">
                                    <img class="img-circle" src="{% static 'img/about/supportIcon.jpg' %}" alt="Image">
                                </div>
                                <div class="dev-content">
                                    <div class="dev-name">Support email</div>
                                    <div class="dev-title"></div>
                                    <div class="dev-social">
                                        <ul class="list-inline">
                                            <li><a href="mailto:support.zina@nokia.com"><i class="fa fa-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        $("#active-edit-profile").click(function () {
            $(".edit-form").removeAttr("disabled");
            $("#password, #cancel-edit-profile, #save-edit-profile").removeClass("hidden");
            $("#active-edit-profile").addClass("hidden");
            $("#first-name").focus();
        });

        $("#cancel-edit-profile").click(function () {
            $(".edit-form").attr("disabled", "disabled");
            $("#password, #cancel-edit-profile, #save-edit-profile").addClass("hidden");
            $("#active-edit-profile").removeClass("hidden");
        });
    </script>
{% endblock %}