{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head lang="{{ LANGUAGE_CODE }}">
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}

    <title>{% block title %}{% trans 'ZINA | Paste code' %}{% endblock %}</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/languages.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2.css' %}">
        <link rel="stylesheet" href="{% static 'css/select2-bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
    {% block extracss %}

    {% endblock %}
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div id="wrapper">
    <div id="header">
        {% block header %}
            {% include 'menus/globlal_menu.html' %}
{% comment %}
                {% include 'menus/search.html' %}
            {% include 'menus/menu.html' %}
{% endcomment %}
        {% endblock %}
    </div>

    <div class="container-fluid">
        <div class="tile-box">
            <div class="row django-messages">
                <div class="col-md-12 msg-container">
                    {% block messages %}
                        {% include 'messages.html' %}
                    {% endblock %}
                </div>

            </div>
            {% block main_section %}{% endblock %}
        </div>
    </div>

    <footer>
        {% block footer %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <span>{% trans '© Nokia Solutions and Networks 2015' %}</span>
                    </div>
                    <div class="col-md-2 pull-right text-right logoFooter">
                        <img src="{% static 'img/NOKIA_LOGO_WHITE.png' %}" alt="Powered by NOKIA">
                    </div>

                </div>
            </div>
        {% endblock %}
    </footer>


</div>


{% block js %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script>
        var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
    </script>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- datetimepicker plugin -->
    <script src="{% static 'js/fileinput.js' %}"></script>
    <script src="{% static 'js/fileinput_locale_pt.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>        <!--
        Optionally if you need translation for your language
        then include locale file as mentioned below -->

    <!-- Select2 plugin -->
    <script src="{% static 'js/select2.min.js' %}"></script>
    <!-- Sweet alert plugin -->
    <script src="{% static 'js/sweet-alert.js' %}"></script>
    <!-- Dropdown search controller -->
    <script src="{% static 'js/search_dropdown_controller.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--
    Optionally if you need translation for your language
    then include locale file as mentioned below -->

    <!-- Multi select 2 col  -->
    <script src="{% static 'js/jquery.multi-select-2-cols.js' %}"></script>
    <!-- simplePagination  -->
    <script src="{% static 'js/jquery.simplePagination.js' %}"></script>
    <script src="{% static 'js/multiselect.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}

{% block extrajs %}
{% endblock %}
</body>
</html>
