<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>{% block email_main_title %}{% endblock %}</title>


	<style type="text/css">
		/*////// RESET STYLES //////*/
		body, #bodyTable, #bodyCell {
			height: 100% !important;
			margin: 0;
			padding: 0;
			width: 100% !important;
		}

		table {
			border-collapse: collapse;
		}

		img, a img {
			border: 0;
			outline: none;
			text-decoration: none;
		}

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			padding: 0;
		}

		p {
			margin: 1em 0;
		}

		/*////// CLIENT-SPECIFIC STYLES //////*/
		.ReadMsgBody {
			width: 100%;
		}

		.ExternalClass {
			width: 100%;
		}

		/* Force Hotmail/Outlook.com to display emails at full width. */
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
			line-height: 100%;
		}

		/* Force Hotmail/Outlook.com to display line heights normally. */
		table, td {
			mso-table-lspace: 0pt;
			mso-table-rspace: 0pt;
		}

		/* Remove spacing between tables in Outlook 2007 and up. */
		#outlook a {
			padding: 0;
		}

		/* Force Outlook 2007 and up to provide a "view in browser" message. */
		img {
			-ms-interpolation-mode: bicubic;
		}

		/* Force IE to smoothly render resized images. */
		body, table, td, p, a, li, blockquote {
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
		}

		/* Prevent Windows- and Webkit-based mobile platforms from changing declared text sizes. */

		/*////// FRAMEWORK STYLES //////*/
		.flexibleContainerCell {
			padding-top: 20px;
			padding-Right: 20px;
			padding-Left: 20px;
		}

		.flexibleImage {
			height: auto;
		}

		.bottomShim {
			padding-bottom: 20px;
		}

		.bottomShim5 {
			padding-bottom: 5px;
		}

		.imageContent, .imageContentLast {
			padding-bottom: 20px;
		}

		.nestedContainerCell {
			padding-top: 20px;
			padding-Right: 20px;
			padding-Left: 20px;
		}

		/*////// GENERAL STYLES //////*/
		body, #bodyTable {
			background-color: #f2f2f2;
		}

		#bodyCell {
			padding-top: 40px;
			padding-bottom: 10px;
		}

		#emailBody {
			background-color: #FFFFFF;
			border: 1px solid #e2e2e2;
			border-collapse: separate;
			border-radius: 2px;
		}

		h1, h2, h3, h4, h5, h6 {
			color: #202020;
			font-family: Helvetica;
			font-size: 20px;
			line-height: 125%;
			text-align: Left;
		}

		h1 {
			font-size: 25px;
		}

		ul {
			margin: 5px 0 20px 0;
			list-style: none;
			padding-left: 20px;
		}

		ul li {
			margin: 0 0 10px 0;
		}

		ul li dl {
			padding-left: 20px;
		}

		ul li dt {
			margin: 5px 0;
		}

		ul ul {
			padding-left: 0;
		}

		hr {
			margin-top: 20px;
			border: 0;
			border-top: 1px solid #e6e6e6;
		}

		.textContent, .textContentLast {
			color: #404040;
			font-family: Helvetica;
			font-size: 15px;
			line-height: 125%;
			text-align: Left;
			padding-bottom: 20px;
		}

		.textContent a, .textContentLast a {
			color: #2C9AB7;
			text-decoration: underline;
		}

		.nestedContainer {
			background-color: #f2f2f2;
			border: 1px solid #e2e2e2;
		}

		.emailButton {
			background-color: #074E8F;
			border-collapse: separate;
			border-radius: 2px;
		}

		.buttonContent {
			color: #FFFFFF;
			font-family: Helvetica;
			font-size: 18px;
			font-weight: bold;
			line-height: 100%;
			text-align: center;
		}

		.buttonContent a {
			color: #FFFFFF;
			display: block;
			text-decoration: none;
			padding: 15px;
		}

		.emailCalendar {
			background-color: #FFFFFF;
			border: 1px solid #CCCCCC;
		}

		.emailCalendarMonth {
			background-color: #5285B8;
			color: #FFFFFF;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 16px;
			font-weight: bold;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
		}

		.emailCalendarDay {
			color: #5285B8;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 60px;
			font-weight: bold;
			line-height: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
		}

		.emailCalendarTime {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 20px;
			line-height: 100%;
			text-align: center;
		}

		.note {
			font-style: italic;
			padding: 10px;
			background-color: #f0ad4e;
			color: #ffffff;
			margin-bottom: 10px;
		}

		.note-danger {
			font-style: italic;
			padding: 10px;
			background-color: #d9534f;
			color: #ffffff;
			margin-bottom: 10px;
		}

		/*////// MOBILE STYLES //////*/
		@media only screen and (max-width: 480px) {
			/*////// CLIENT-SPECIFIC STYLES //////*/
			body {
				width: 100% !important;
				min-width: 100% !important;
			}

			/* Force iOS Mail to render the email at full width. */
			/*////// FRAMEWORK STYLES //////*/
			/*
                CSS selectors are written in attribute
                selector format to prevent Yahoo Mail
                from rendering media query styles on
                desktop.
            */
			table[id="emailBody"], table[class="flexibleContainer"] {
				width: 80% !important;
			}

			/*
                The following style rule makes any
                image classed with 'flexibleImage'
                fluid when the query activates.
                Make sure you add an inline max-width
                to those images to prevent them
                from blowing out.
            */
			img[class="flexibleImage"] {
				height: auto !important;
				width: 80% !important;
			}

			/*
                Make buttons in the email span the
                full width of their container, allowing
                for left- or right-handed ease of use.
            */
			table[class="emailButton"] {
				width: 100% !important;
			}

			td[class="buttonContent"] {
				padding: 0 !important;
			}

			td[class="buttonContent"] a {
				padding: 15px !important;
			}

			td[class="textContentLast"], td[class="imageContentLast"] {
				padding-top: 20px !important;
			}

			/*////// GENERAL STYLES //////*/
			td[id="bodyCell"] {
				padding-top: 10px !important;
				padding-Right: 10px !important;
				padding-Left: 10px !important;
			}
		}

		.logoZina {
			height: auto;
			max-width: 180px;
		}

		.templateDataTable {
			border: #e2e2e2 solid 1px;
			border-collapse: collapse;

		}

		.dataTableHeading {
			background-color: #074E8F;
			border: #e2e2e2 solid 1px;
			border-collapse: collapse;
			color: #fff;
		}

		.odd {
			background: #f2f2f2;
		}

		.dataTableContent {
			border: #e2e2e2 solid 1px;
			border-collapse: collapse;
			font-size:
		}

		a {
			color: #074E8F;
			text-decoration: underline;
		}

		.logoNokia {
			height: auto;
			max-width: 140px;
		}

		.btn {
			display: inline-block;
			margin-bottom: 0;
			font-family: Helvetica, Arial, sans-serif;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none;
			border: 1px solid transparent;
			white-space: nowrap;
			padding: 6px 12px;
			font-size: 15px;
			line-height: 1.42857143;
			border-radius: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			text-decoration: none;
		}

		.btn-primary {
			color: #ffffff;
			background-color: #2780e3;
			border-color: #2780e3;
		}

		.btn-primary:hover {
			color: #ffffff;
			background-color: #1967be;
			border-color: #1862b5;
		}

		.important-note {
			color: #cd0a0a;
			font-size: 20px;
		}

	</style>
	<!--
        Outlook Conditional CSS

        These two style blocks target Outlook 2007 & 2010 specifically, forcing
        columns into a single vertical stack as on mobile clients. This is
        primarily done to avoid the 'page break bug' and is optional.

        More information here:
        http://templates.mailchimp.com/development/css/outlook-conditional-css
    -->
	<!--[if mso 12]>
            <style type="text/css">
            	.flexibleContainer{display:block !important; width:100% !important;}
            </style>
        <![endif]-->
	<!--[if mso 14]>
            <style type="text/css">
            	.flexibleContainer{display:block !important; width:100% !important;}
            </style>
        <![endif]-->
</head>
<body>
<center>
	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
		<tr>
			<td align="center" valign="top" id="bodyCell">
				<!-- EMAIL CONTAINER // -->
				<!--
                    The table "emailBody" is the email's container.
                    Its width can be set to 100% for a color band
                    that spans the width of the page.
                -->
				<table border="0" cellpadding="0" cellspacing="0" width="90%" id="emailBody" style="margin: 0 auto;">


					<!-- MODULE ROW // -->
					<!--
                        To move or duplicate any of the design patterns
                        in this email, simply move or copy the entire
                        MODULE ROW section for each content block.
                    -->
					<tr>
						<td align="center" valign="top">
							<!-- CENTERING TABLE // -->
							<!--
                                The centering table keeps the content
                                tables centered in the emailBody table,
                                in case its width is set to 100%.
                            -->
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="center" valign="top">
										<!-- FLEXIBLE CONTAINER // -->
										<!--
                                            The flexible container has a set width
                                            that gets overridden by the media query.
                                            Most content tables within can then be
                                            given 100% widths.
                                        -->
										<table border="0" cellpadding="0" cellspacing="0" width="98%"
										       class="flexibleContainer">
											<tr>
												<td align="center" valign="top" width="98%"
												    class="flexibleContainerCell">


													<!-- CONTENT TABLE // -->
													<!--
                                                        The content table is the first element
                                                        that's entirely separate from the structural
                                                        framework of the email.
                                                    -->
													<table border="0" cellpadding="0" cellspacing="0" width="100%">
														<tr>
															<td align="left">
																<img class="logoZina" src="http://zina.access.nokiasiemensnetworks.com/goal_email/logo-claro-delivery-email.png" alt="ZINA Claro invoice delivery">
															</td>
															<td style="text-align:right;">
																<img src="http://zina.access.nokiasiemensnetworks.com/goal_email/zinaBrand-email.png"
																     alt="ZINA" title="ZINA" class="logoZina"/>
															</td>
														</tr>
													</table>
													<!-- // CONTENT TABLE -->
												</td>
											</tr>
										</table>
										<!-- // FLEXIBLE CONTAINER -->
									</td>
								</tr>
							</table>
							<!-- // CENTERING TABLE -->
						</td>
					</tr>
					<!-- // MODULE ROW -->

					<!-- MODULE ROW // -->
					<tr>
						<td align="center" valign="top">
							<!-- CENTERING TABLE // -->
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td align="center" valign="top">
										<!-- FLEXIBLE CONTAINER // -->
										<table border="0" cellpadding="0" cellspacing="0" width="98%"
										       class="flexibleContainer">
											<tr>
												<td valign="top" width="98%" class="flexibleContainerCell">


													<!-- CONTENT TABLE // -->
													<!--
                                                        In multi-column content blocks, the
                                                        content tables are given set widths
                                                        and the flexibleContainer class.
                                                    -->
													{% block main_content %}{% endblock %}
												</td>

											</tr>

										</table>
										<!-- // FLEXIBLE CONTAINER -->
									</td>
								</tr>
							</table>
							<!-- // CENTERING TABLE -->
						</td>
					</tr>
					<!-- // MODULE ROW <-->

				</table>
				<!-- // EMAIL CONTAINER -->
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td align="center">
				<img src="http://zina.access.nokiasiemensnetworks.com/goal_email/NOKIA_LOGO_BLUE.png" alt="Nokia logo"
				     title="Nokia" class="logoNokia" style="height: auto; max-width: 140px;"/></td>
		</tr>
	</table>
</center>
</body>
</html>