{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block main_section %}
    <div class="row">
		<div class="col-md-12">
			<h1>Panalpina importer</h1>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p>Choose the panalpine file you want to import</p>
			<form action="#">
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, deserunt fugit eaque magni tempore magnam sit voluptatem beatae reprehenderit odit.
				</div>
				<div class="form-group">
					<input id="input-id" type="file" class="input-file" data-preview-file-type="text" >	
				</div>
				<div class="form-group text-right">
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-upload"></span> Upload file</button>
				</div>
		        
			</form>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
			<h3>Upload file history</h3>
			<p>In this list you can find the last five uploaded files.</p>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">File <span class="hidden-xs">name</span></th>
							<th class="text-center">Date</th>
							<th class="text-center">Owner</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center">
							<td><a href="#">Lorem ipsum dolor.xlsx</a></td>
							<td>2015/07/15</td>
							<td>John Doe</td>
							<td>
								<a class="btn btn-info btn-xs" href=""><span class="glyphicon glyphicon-download-alt"></span> <span class="hidden-xs">Download</span></a>
							</td>
						</tr>
						<tr class="text-center">
							<td><a href="#">Lorem ipsum dolor.xlsx</a></td>
							<td>2015/07/15</td>
							<td>John Doe</td>
							<td>
								<a class="btn btn-info btn-xs" href=""><span class="glyphicon glyphicon-download-alt"></span> <span class="hidden-xs">Download</span></a>
							</td>
						</tr>
						<tr class="text-center">
							<td><a href="#">Lorem ipsum dolor.xlsx</a></td>
							<td>2015/07/15</td>
							<td>John Doe</td>
							<td>
								<a class="btn btn-info btn-xs" href=""><span class="glyphicon glyphicon-download-alt"></span> <span class="hidden-xs">Download</span></a>
							</td>
						</tr>
						<tr class="text-center">
							<td><a href="#">Lorem ipsum dolor.xlsx</a></td>
							<td>2015/07/15</td>
							<td>John Doe</td>
							<td>
								<a class="btn btn-info btn-xs" href=""><span class="glyphicon glyphicon-download-alt"></span> <span class="hidden-xs">Download</span></a>
							</td>
						</tr>
						<tr class="text-center">
							<td><a href="#">Lorem ipsum dolor.xlsx</a></td>
							<td>2015/07/15</td>
							<td>John Doe</td>
							<td>
								<a class="btn btn-info btn-xs" href=""><span class="glyphicon glyphicon-download-alt"></span> <span class="hidden-xs">Download</span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
{% endblock %}	