{% load tags_html %}
{% if is_paginated %}
    <div class="text-center">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="active"><a href="?page={{ page_obj.previous_page_number }}&{{ query_string }}"
                                          aria-label="Previous"><span
                            aria-hidden="true">&laquo;</span></a></li>
                    </li>
                {% else %}
                    <li class="disabled"><a aria-label="Previous"><span
                            aria-hidden="true">&laquo;</span></a></li>
                    </li>
                {% endif %}
                {% for number in page_obj.paginator.num_pages|get_range %}
                    <li class="{% if number == page_obj.number %}active{% endif %}">
                        <a href="?page={{ number }}&{{ query_string }}">{{ number }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="active">
                        <a href="?page={{ page_obj.next_page_number }}&{{ query_string }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endif %}
