{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block main_section %}

	<div class="row">
		<div class="col-md-6">
			<h1>Titles</h1>
			<p>For main titles use H1</p>
			<div class="well">
				<em>examples</em> <br>
				<h1>h1. This is a main title</h1>
			</div>

			<p>For secundary titles use H3</p>
			
			<div class="well">
				<em>examples</em> <br>
				<h3>h3. Other titles</h3>
			</div>

			<h1>Forms</h1>
			<p>Its posible to include two kind of form, Horizontal and vertical</p>
			<h3>Horizontal forms</h3>
			<p>Use class form-horizontal on form and use the bootstrap grid to divide the filds and wrap this on a form-group class.</p>
			<div class="well">
				<em>example</em>
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					 <div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
				</form>
			</div>
			<h3>Vertical forms</h3>
			<p>Use form without class and wrap the label and the input on a form-group class.</p>
			<div class="well">
				<em>example</em>
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
				</form>
			</div>
			
		</div>
		<div class="col-md-6">
			<h1>Alerts</h1>
			<h3>Alert success</h3>
			<p>Use the classes "alert alert-success" to geneate the alert styles</p>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>This is a success alert</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, repellat?
			</div>
			<h3>Alert info</h3>
			<p>Use the classes "alert alert-info" to geneate the alert styles</p>
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>This is a info alert</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, repellat?
			</div>
			<h3>Alert warning</h3>
			<p>Use the classes "alert alert-warning" to geneate the alert styles</p>
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>This is a warning alert</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, repellat?
			</div>
			<h3>Alert danger</h3>
			<p>Use the classes "alert alert-danger" to geneate the alert styles</p>
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>This is a danger alert</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, repellat?
			</div>

			<h1>Buttons</h1>
			<p>There are different type of information that the user can receive throught and icon or a colour on a button.</p>
			<div class="row">
				<div class="col-md-3">
					<button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Filter info</button>
				</div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-saved"></span> Save changes</button>
				</div>
				<div class="col-md-3">
					<button type="reset" class="btn btn-danger"><i class="fa fa-refresh"></i> Reset form</button>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
	

{% endblock %}	