{% extends 'cdi-email.html' %}
{% load i18n static %}

<!--CHANGE TITLE ACOORDING TO THE PREFERENCES OF THE USER-->
{% block email_main_title %}
	{{ MESSAGE }}
{% endblock %}
<!--CHANGE TITLE ACOORDING TO THE PREFERENCES OF THE USER-->
{% block email_title %}
	{{ MESSAGE }}
{% endblock %}

{% block main_content %}
	<!-- MODULE ROW // -->
	<tr>
		<td align="center" valign="top">
			<!-- CENTERING TABLE // -->
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td align="center" valign="top">
						<!-- FLEXIBLE CONTAINER // -->
						<table border="0" cellpadding="0" cellspacing="0" width="98%" class="flexibleContainer">
							<tr>
								<td valign="top" width="98%" class="flexibleContainerCell">
									<!-- CONTENT TABLE // -->
									<!--
                                        In multi-column content blocks, the
                                        content tables are given set widths
                                        and the flexibleContainer class.
                                    -->
									<table align="Left" border="0" cellpadding="0" cellspacing="0" width="98%" class="flexibleContainer">
										<tr>
											<td valign="top" class="textContent">
												<h3>{% trans 'data synchronization with CLARO is over' %}</h3>
												<br/>

												<p>{{ MESSAGE }}</p>

												<p>{% trans 'Please click on the following URL to finish the process' %}</p>

												<p><a href="{{ SITE_URL }}">
													{{ SITE_URL }}</a></p>
											</td>
										</tr>
									</table>
									<!-- // CONTENT TABLE -->
								</td>
							</tr>
						</table>
						<!-- // FLEXIBLE CONTAINER -->
					</td>
				</tr>
			</table>
			<!-- // CENTERING TABLE -->
		</td>
	</tr>
	<!-- // MODULE ROW <--></-->
{% endblock %}